@import '../sass-variables/Variables.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: $bodyFont;
  background-image: url('../images/space.png');
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  list-style: none;
  @include scrollBar;
}

.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
}

.nav-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: auto;
  margin: 10px 0px 20px 0px;
}

.nav-link {
  margin: 15px;
  color: $starWarsWhite;
  background-color: $starWarsBlack;
  text-decoration: none;
  border: 3px solid $starWarsWhite;
  padding: 20px;
}

.nav-link:hover {
  color: $navBarHover;
}

.nav-link:active {
  color: $navBarActive;
}

.nav-link:visited {
  color: $starWarsWhite;
}

.search-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-input {
  margin: 5px 0px 25px 0px;
  width: 300px;
  height: 35px;
  font-size: 1rem;
  padding-left: 10px;
  background-color: $starWarsBlack;
  border: 2px solid $starWarsYellow;
  color: $starWarsWhite;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $starWarsYellow;
}

.individual-planet {
  width: 500px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 2px solid $starWarsYellow;
  border-radius: 4%;
  list-style: none;
  background-color: $starWarsBlack;
}

.planet-name {
  font-size: 2.5rem;
}

.planet-details {
  color: $starWarsWhite;
}

.people-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $starWarsYellow;
}

.individual-person {
  width: 500px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 2px solid $starWarsYellow;
  border-radius: 6%;
  list-style: none;
  background-color: $starWarsBlack;
}

.person-name {
  font-size: 2.5rem;
}

.person-details {
  color: $starWarsWhite;
}

.resident-button {
  height: 50px;
  width: 200px;
  margin: 15px 0px 15px 0px;
  font-size: 1rem;
  background-color: $starWarsYellow;
  border: none;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $starWarsYellow;
}

.contact-info {
  width: 600px;
  height: auto;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 2px solid $starWarsYellow;
  border-radius: 6%;
  list-style: none;
  background-color: $starWarsBlack;
}

.my-name {
  margin-bottom: 15px;
}

.headshot {
  height: auto;
  width: 250px;
  margin-bottom: 15px;
}

.contact-links {
  margin-bottom: 30px;
}

.contact-link {
  color: $starWarsWhite;
  text-decoration: none;
}

.contact-link:hover {
  color: $navBarHover;
}

.contact-link:active {
  color: $navBarActive;
}

.contact-link:visited {
  color: $starWarsWhite;
}

// .planets-container {
//   @include planetsAndPeopleContainers;
// }

// .individual-planet {
//   @include individualPlanetsAndPeople;
// }

// .people-container {
//   @include planetsAndPeopleContainers;
// }

// .individual-person {
//   @include individualPlanetsAndPeople;
// }
