@import '../sass-variables/Variables.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: $bodyFont;
  background-image: url('../images/space.png');
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  list-style: none;
  @include scrollBar;
}

.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
}

.nav-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 2rem;
  border: 3px solid $starWarsWhite;
  width: auto;
  margin: 10px 200px 20px 200px;
}

.nav-link {
  margin: 15px;
  color: $starWarsWhite;
  text-decoration: none;
}

.nav-link:hover {
  color: $navBarHover;
}

.nav-link:active {
  color: $navBarActive;
}

.nav-link:visited {
  color: $starWarsWhite;
}

.planets-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $starWarsYellow;
}

.individual-planet {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 2px solid $starWarsYellow;
  border-radius: 4%;
  list-style: none;
  background-color: $starWarsBlack;
}

.planet-name {
  font-size: 2.5rem;
}

.planet-details {
  color: $starWarsWhite;
}

.people-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $starWarsYellow;
}

.individual-person {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 2px solid $starWarsYellow;
  border-radius: 6%;
  list-style: none;
  background-color: $starWarsBlack;
}

.person-name {
  font-size: 2.5rem;
}

.person-details {
  color: $starWarsWhite;
}

// .planets-container {
//   @include planetsAndPeopleContainers;
// }

// .individual-planet {
//   @include individualPlanetsAndPeople;
// }

// .people-container {
//   @include planetsAndPeopleContainers;
// }

// .individual-person {
//   @include individualPlanetsAndPeople;
// }
