// COLORS
$starWarsBlack: #090c0b;

$starWarsYellow: #fee81c;

$starWarsWhite: #ffffff;

$navBarHover: rgb(197, 197, 197);

$navBarActive: rgb(138, 138, 138);

// FONTS

$bodyFont: Arial, Helvetica, sans-serif;
